*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color:rgb(194, 199, 199);
    color: #1a1a1a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    background-color: #303335; 
    padding: 25px 10px 15px;
    border-bottom: 3px solid #E25A5A;
    position: relative;
    color:azure
  }

.coracao-header{
    width: 50px;
    display: block;
    margin: 0 auto 10px;
}

nav{
    margin-top: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: azure;
    border: 2px solid transparent;
    transition: 0.5;
}

nav a:hover {
    background-color: #77c294;
    color: rgb(0, 0, 0);
}

footer {
    background-color:#303335;
    text-align: center;
    padding: 25px;
    border-top: 3px solid #E25A5A;
    font-size: 0.9rem;
    color: #ffffff;
  }

footer a {
    color: #E25A5A;
    text-decoration: none;
    font-weight: bold;
  }
  
footer a:hover {
    text-decoration: underline;
  }

.dog-footer{
    width: 70px;
    margin-bottom: 10px;
}

main {
    flex: 1;
    padding: 40px 20px;
    text-align: center;
}

.introducao{
    text-align: center;
    max-width: 800;
    margin: 40px auto;
    background-color: #77c294;
    padding: 25px;
    border-radius: 20px;
}
  